body {
    margin: 0;
}

#calculator {
    background-color: grey;
    width: 220px;
    height: auto;
    padding: 5px;
    margin: 5px;
}

button {
    width: 50px;
    height: 50px;
    margin: 0px;
    padding: 0;
}

#head {
    text-align: center;
    padding: 2px;
}

#display {
    height: 30px;
    text-align: right;
}

#keyboard {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 210px;
}

#keyboardSide {
    width: 50px;
}
